@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 62.5% 'Dancing Script', cursive;
    color: #f1f1f1;
    list-style: none;
}